@use "../variables" as *;
@use '../mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.6s ease-in-out;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
}

html {
  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: $lightColor;
  }

  &::-webkit-scrollbar-thumb {
    background: $secondaryColor;
  }
}

body {
  font-weight: 400;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color: $secondaryColor;
  font-size: 100%;

  @media (width < 576px) {
    font-size: 80%;
  }
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
}

img {
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
}

section {
  padding: 4.5rem 0;
}

i {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;

 @include breakpoints(576px){
  width: 90%;
 }
}

.section-title {
  margin-bottom: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  color: $darkColor;
  font-size: 2.5rem;
  text-align: center;
  
  @include breakpoints(576px){
    font-size: 1.6rem;
  }
}

.section-title-before {
  color: $primaryColor;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}



