@use "../components/" as *;

.top__nav {
  @include flex(space-between, center, wrap);
  background-color: $darkColor;
  color: $lightColor;

  @media (width <992px) {
    display: none;
  }

  .top__nav__social {
    margin-left: 2rem;

    .top__nav__link {
      color: $lightColor;
      padding-left: 1rem;
    }
  }

  .top__nav__contact {
    color: $lightColor;
    padding: 1rem;
    position: relative;
    background: $primaryColor;
    z-index: 100;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      top: 0;
      left: -55px;
      right: 30px;
      transform: skewX(-30deg);
      background-color: $primaryColor;
      z-index: -1;
    }

    .top__nav__p {
      font-weight: bold;
      font-size: 1.2rem;

      i {
        margin-right: 0.7rem;
      }
    }
  }
}
